<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>817191026253-l1hduum5h5flghren7hmiurmpt06hian.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.817191026253-l1hduum5h5flghren7hmiurmpt06hian</string>
	<key>API_KEY</key>
	<string>AIzaSyA95eHQfsDco1Qv28GjtVHmiOR7yQS6_vg</string>
	<key>GCM_SENDER_ID</key>
	<string>817191026253</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-6b9cb</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-6b9cb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:817191026253:ios:eb4dfed5626cc433fbe604</string>
</dict>
</plist>